
.form-control {
    border: 1px dotted var(--txt-light);
}

.form-control,
.form-control:focus {
    color: var(--txt-green);
}

.form-file-upload {
    height: 85px !important;
    padding-top: 45px !important;
}

.form-textarea,
.form-radio {
    height: 150px !important;
}

ul.form-radio {
    list-style-type: none;
}

input:disabled,
select:disabled {
    color: var(--txt-light);
}

.img-preview img {
    height: 200px;
}
