.scrollable-map {
    height: 700px;
    overflow-y: scroll;
}

#coords-div {
    position: fixed;
    top: 4em;
    right: 1em;
}

.focus {
    stroke-width: 10px !important;
    fill: magenta !important;
    stroke: magenta !important;
}
.original {
    fill: pink !important;
    stroke: pink !important;
}

polygon.focus {
    fill-opacity: 0.2;
}
circle.focus {
    fill-opacity: 0.3;
}

circle.plant_point {
    transition: 0.3s;
}
circle.plant_point:hover {
    filter: brightness(50);
    box-shadow: #858585;
}

.region,
.sub_region,
.other_point,
.other_polygon {
    stroke-width: 5px;
    fill-opacity: 0.05;
}
.plant_point,
.plant_polygon {
    stroke-width: 10px;
    fill-opacity: 0.5;
}

.region {
    fill: white;
    stroke: white;
}

.sub_region {
    fill: yellow;
    stroke: lightgreen;
    fill-opacity: 0.05;
}
.other_polygon,
.other_point {
    fill: cornflowerblue;
    stroke: cornflowerblue;
}
.plant_point,
.plant_polygon {
    fill: green;
    stroke: green;
}


#map {
    border: 1px dotted cornflowerblue
}

.irrigation {
    fill: cornflowerblue;
}
