{% import 'macros/table_builder.jinja' as f %}
{% import 'macros/image_carousel.jinja' as i %}
{% import 'macros/svg.jinja' as s %}
{% extends 'base.jinja' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="row title-block">
            <div class="col">
                <div class="species-title">
                    {{data.scientific_name}}
                    {% if data.is_native is none %}
                        {% set native_text = "native?" %}
                        {% set native_color = "warning" %}
                    {% elif data.is_native %}
                        {% set native_text = "native" %}
                        {% set native_color = "success" %}
                    {% else %}
                        {% set native_text = "not native" %}
                        {% set native_color = "danger" %}
                    {% endif %}
                    <span class="species-badge badge rounded-pill bg-{{ native_color }}">{{ native_text }}</span>
                    {% for item_name, item_dict in icon_class_map.items() %}
                        <i class="icon {{ item_dict.map[item_dict.value] }} {{ item_dict.addl_class}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ item_name }} - {{ item_dict.value }}"></i>
                    {% endfor %}
                    {% if data.usda_symbol %}
                        <span class="float-end">
                            {% if data.is_native or data.is_native is none %}
                                <a type="button" class="btn btn-sm btn-outline-info position-relative" href="https://www.wildflower.org/plants/result.php?id_plant={{ data.usda_symbol }}" target="_blank">WF</a>
                            {% endif %}
                            <a type="button" class="btn btn-sm btn-outline-info position-relative" href="https://plants.usda.gov/home/plantProfile?symbol={{ data.usda_symbol }}" target="_blank">USDA</a>
                        </span>
                    {% endif %}
                </div>
                <div class="species-subtitle">({{data.common_name}})</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col my-2">
            <div class="float-start">
                <a type="button" class="btn btn-sm btn-outline-success position-relative" href="/plant/by_species/{{ data.species_id }}/add">
                    <i class="bi-plus-circle-fill"></i>
                </a>
                <a type="button" class="btn btn-sm btn-outline-success position-relative" href="/plant/by_species/{{ data.species_id }}/all">
                    Plants
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        {{data.plants|length}}
                        <span class="visually-hidden">plants</span>
                    </span>
                </a>
            </div>
            <div class="float-end">
                <a type="button" class="btn btn-outline-warning btn-sm" href="/species/{{ data.species_id }}/edit"><i class="bi-pencil"></i> Edit</a>
                <a type="button" class="btn btn-outline-danger btn-sm" href="/species/{{ data.species_id }}/delete"><i class="bi-trash"></i> Delete</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-body shadow p-3 mb-5 rounded">
                <h4 class="card-title">Basic Info</h4>
                <div class="card-text">
                {% for item_label, item_dict in basic_info.items() %}
                    <div class="info-line">
                        <strong>{{ item_label }}: </strong>
                        {{ item_dict.value }}
                    </div>
                {% endfor %}
                </div>
                <hr>
                <h5 class="card-title">
                    Alternate Names
                    <span class="float-end">
                        <a type="button" href="/species/{{data.species_id}}/altname/add" class="btn btn-outline-success btn-sm"><i class="bi-plus"></i></a>
                    </span>
                </h5>

                <div class="card-text">
                    {% for alt_name in data.alternate_names %}
                        <span>{{ alt_name.name }}</span>
                        <a type="button" class="btn btn-outline-primary btn-sm inline-button"  href="/species/{{ data.species_id }}/altname/{{ alt_name.alternate_name_id }}/edit" ><i class="bi-pencil"></i></a>
                        <a type="button" class="btn btn-outline-danger btn-sm inline-button"  href="/species/{{ data.species_id }}/altname/{{ alt_name.alternate_name_id }}/delete" ><i class="bi-trash"></i></a>
                    {% endfor %}
                </div>
                <hr>
                <h5 class="card-title">Bloom Info</h5>
                <div class="card-text">
                    <div class="info-line">
                        <strong>Start Month: </strong>{{ data.bloom_start_month }}
                        <strong>End Month: </strong>{{ data.bloom_end_month }}
                    </div>

                    {% set bloom_start = data.bloom_start_month if data.bloom_start_month else 0 %}
                    {% set bloom_end = data.bloom_end_month if data.bloom_end_month else 0 %}
                    <div class="bloom-months-section">
                        {% for m in 'j,f,m,a,m,j,j,a,s,o,n,d'.split(',') %}
                            {% if bloom_start <= loop.index <= bloom_end %}
                                {% set bloomclass = "bg-success" %}
                            {% else %}
                                {% set bloomclass = "bg-light" %}
                            {% endif %}
                            <span class="badge {{ bloomclass }} bloom-badge">{{ m.upper() }}</span>
                        {% endfor %}
                    </div>

                    <div class="info-line">
                        <p>{{ data.bloom_notes if data.bloom_notes else '' }}</p>
                    </div>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card-body shadow p-3 mb-5 rounded">
                {% call i.image_carousel('species-pic-carousel', data, is_plant=False) %}
                {% endcall %}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="card-body shadow p-3 mb-5 rounded">
                <h4 class="card-title">
                    Scheduled Maintenance
                    <span class="float-end">
                        <a type="button" href="/species/{{data.species_id}}/scheduled_maintenance/add" class="btn btn-outline-success btn-sm"><i class="bi-plus-circle-fill"></i></a>
                    </span>
                </h4>
                {% if scheduled_maint_info.rowdata|length > 0 %}
                    {% call f.simple_table('waALKJes', scheduled_maint_info.headers, scheduled_maint_info.rowdata) %}

                    {% endcall %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if data.care_notes or data.propagation_notes %}
        <div class="row">
            <div class="col">
                <div class="card-body shadow p-3 mb-5 rounded">
                    <h4 class="card-title">Additional Info</h4>
                    {% if data.care_notes %}
                        <h5>Care Notes</h5>
                        <p class="card-text">{{ data.care_notes }}</p>
                    {% endif %}
                    {% if data.propagation_notes %}
                        <h5>Propagation Notes</h5>
                        <p class="card-text">{{ data.propagation_notes }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {% if map_points %}
                {% call s.render_static_map(map_points) %}

                {% endcall %}
            {% else %}
                <div class="card-body">No map data!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}