<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/png">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- JS -->
    <!-- Flash message timeout -->
    <script type="text/javascript">
        window.setTimeout("for (const elem of document.getElementsByClassName('alert')) {elem.style.display = 'none';}", 2000);
    </script>
    <!-- Initialize all tooltips -->
    <script>
        window.addEventListener("load", function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        })
    </script>
    {% endblock %}
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/9b3bd4052a.js"></script>
    {% if title %}
        <title>Plant Tracker - {{ title }}</title>
    {% else %}
        <title>Plant Tracker</title>
    {% endif %}
  </head>
  <body class="d-flex flex-column h-100">
    <header class="pb-5">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <img class="nav-logo" src="{{ url_for('static', filename='images/favicon.svg') }}" alt="plant logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    {% set nav_left = {
                        'Home': 'main.index',
                        'Families': 'family.get_all_families',
                        'Species': 'species.get_all_species',
                        'Plants': 'plant.get_all_plants',
                        'Map Items': 'geodata.get_all',
                        'Map': 'geodata.get_map',
                    } -%}

                    {% set nav_right = {
                        '+ Map': {
                            '+ Other Point': {'path': 'geodata.add_geodata', 'geo_type': 'other_point'},
                            '+ Other Group': {'path': 'geodata.add_geodata', 'geo_type': 'other_polygon'},
                            '+ SubRegion': {'path': 'geodata.add_geodata', 'geo_type': 'sub_region'},
                            '+ Region': {'path': 'geodata.add_geodata', 'geo_type': 'region'}
                        },
                        '+ Family': 'family.add_family',
                        '+ Species': 'species.add_species',
                        '+ Plant': 'plant.add_plant',
                    } -%}
                    <ul class="navbar-nav me-auto">
                        {% for name, details in nav_left.items() %}
                            {% if details is string %}
                                {# This is a top-level nav item #}
                                <li class="nav-item">
                                    <a class="nav-link {{ 'active' if request.endpoint == details }}" href="{{ url_for(details) }}">{{ name }}</a>
                                </li>
                            {% elif details is mapping %}
                                {# This is a dropdown nav item #}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ name }}</a>
                                    <div class="dropdown-menu">
                                        {% for item_name, item_path in details.items() %}
                                            {% if item_path is mapping %}
                                                {% set ipath = item_path.pop('path') %}
                                                <a class="dropdown-item bs-dark" href="{{ url_for(ipath, **item_path) }}">{{ item_name }}</a>
                                            {% else %}
                                                <a class="dropdown-item bs-dark" href="{{ url_for(item_path) }}">{{ item_name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav pe-3">
                        {% for name, details in nav_right.items() %}
                            {% if details is string %}
                                <a class="btn btn-primary btn-sm me-2" role="button" aria-pressed="true" href="{{ url_for(details) }}">{{ name }}</a>
                            {% elif details is mapping %}
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle btn btn-sm btn-primary me-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ name }}</a>
                                    <div class="dropdown-menu">
                                        {% for item_name, item_path in details.items() %}
                                            {% if item_path is mapping %}
                                                {% set ipath = item_path.pop('path') %}
                                                <a class="dropdown-item bs-dark" href="{{ url_for(ipath, **item_path) }}">{{ item_name }}</a>
                                            {% else %}
                                                <a class="dropdown-item bs-dark" href="{{ url_for(item_path) }}">{{ item_name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0">
        <div class="container my-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show">
                      {{ message|capitalize }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <!-- Here's where the main content gets piped in! -->
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer class="footer mt-auto py-2 bg-dark">
      <div>
          <span class="text-muted float-start">
              Plant Tracker
              <span class="font-monospace">v{{ config['VERSION'] }}</span>
          </span>
      </div>
    </footer>
  </body>

</html>
