{% import 'macros/form.jinja' as f %}
{% extends 'base.jinja' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% set data_rows = [
        ['observation_type', 'observation_date'],
        ['plant_rating'],
        ['plant_height_mm', 'plant_width_mm'],
        ['notes']
    ] %}


    {% call f.render_form(form, data_rows, post_endpoint_url) %}
        {{ 'Edit' if is_edit else 'Add' }} an observation
    {% endcall %}
{% endblock %}
