{% import 'macros/svg.jinja' as s %}
{% extends 'base.jinja' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% call s.render_static_map(map_points_dict) %}
    {% endcall %}
{% endblock %}
