{% import 'macros/table_builder.jinja' as f %}
{% extends 'base.jinja' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% call f.sortable_table(table_id, headers, data_rows, order_list) %}
        Images
    {% endcall %}
{% endblock %}