{% import 'macros/form.jinja' as f %}
{% extends 'base.jinja' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% set data_rows = [
        ['scientific_name', 'common_name']
    ] %}


    {% call f.render_form(form, data_rows, post_endpoint_url) %}
        {{ 'Edit' if is_edit else 'Add' }} a plant family
    {% endcall %}
{% endblock %}
