{% import 'macros/table_builder.jinja' as f %}
{% extends 'base.jinja' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
        {% call f.sortable_table(table_id, headers, plant_list, order_list) %}
            {{ 'Dead ' if is_dead else '' }}Plants
        {% endcall %}
    </div>

{% endblock %}