{% extends 'base.html' %}

{% block content %}
    <div class="form-wrapper">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <h3 class="title">
            {{ confirm_title }}
            <span class="confirm-focus">{{ confirm_focus }}</span>
            ?
        </h3>
        <form method="POST" action="{{ confirm_url }}" class="confirm-form">
            <fieldset class="form-field">
                {{ form.confirm.label }}
                {{ form.confirm }}
                {% if form.confirm.errors %}
                    <ul class="errors">
                      {% for error in form.confirm.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>
            {{ form.submit(class_="btn btn-outline-danger btn-sm my-2 me-4") }}
            <a href="javascript: history.go(-1)" class="btn btn-primary btn-sm">Cancel</a>
        </form>
    </div>
{% endblock %}
