{% import 'macros/form.html' as f %}
{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% set data_rows = [
        ['image_path'],
        ['image_data_url']
    ] %}

    {% call f.render_form(form, data_rows, post_endpoint_url, is_file_upload=True) %}
        {{ 'Edit' if is_edit else 'Add' }} an image
    {% endcall %}
{% endblock %}
