{% macro render_form(form, form_data_rows, post_endpoint_url, is_file_upload) -%}
    {% if is_file_upload is none %}
        {% set is_file_upload = False %}
    {% endif %}
    {% set enctype = "multipart/form-data" if is_file_upload else "application/x-www-form-urlencoded" %}
    <h2>{{ caller() }}</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <form method="POST" action="{{ post_endpoint_url }}" enctype="{{ enctype }}">
        {{ form.csrf_token }}
        {% if form.errors %}
            <ul class="errors">
              {% for field_name, error in form.errors.items() %}
                <li>{{ field_name }}: {{ error }}</li>
              {% endfor %}
            </ul>
        {% endif %}
        {%- for row in form_data_rows %}
            <div class="row mb-3">
                {%- for item in row %}
                    <div class="col">
                        {% set fieldclass = "" %}
                        {% if form[item].type == 'HiddenField' %}
                            {% set fieldclass = fieldclass ~ " py-3" %}
                        {% elif form[item].type != 'BooleanField' %}
                            {% set fieldclass = fieldclass ~ " form-floating" %}
                        {% endif %}
                        <fieldset class="{{ fieldclass }}">
                            {% set inputclass = "form-control bg-dark" %}
                            {% if form[item].type == 'BooleanField' %}
                                {% set inputclass = inputclass ~ " form-check-input" %}
                            {% elif form[item].type == 'SelectField' %}
                                {% set inputclass = inputclass ~ " form-select" %}
                            {% elif form[item].type == 'TextAreaField' %}
                                {% set inputclass = inputclass ~ " form-textarea" %}
                            {% elif form[item].type == 'RadioField' %}
                                {% set inputclass = inputclass ~ " form-radio" %}
                            {% elif form[item].type == 'MultipleFileField' %}
                                {% set inputclass = inputclass ~ " form-file-upload" %}
                            {% endif %}

                            <!--Here we instantiate the field item-->
                            {% if form[item].type == 'DataListField' %}
                                {{ form[item](list="datalist_" ~ form[item].id, class_=inputclass) }}
                                <datalist id="datalist_{{ form[item].id }}">
                                    {% for entry in form[item].datalist_entries %}
                                        <option value="{{ entry }}">
                                    {% endfor %}
                                </datalist>
                            {% elif form[item].type == 'ImagePasteField' %}
                                <script>
                                    document.onpaste = function (event) {
                                        var items = (event.clipboardData || event.originalEvent.clipboardData).items;
                                        for (index in items) {
                                            var item = items[index];
                                            if (item.kind === 'file') {
                                                var blob = item.getAsFile();
                                                var reader = new FileReader();
                                                reader.onload = function (event) {
                                                    var data_url_elem = document.getElementById('image_data_url');
                                                    data_url_elem.value = event.target.result;
                                                    // create an image viewer
                                                    var data_row = data_url_elem.parentElement.parentElement.parentElement;
                                                    var image_row = document.createElement('div');
                                                    image_row.setAttribute('class', 'row mb-3')
                                                    var image_col = document.createElement('div');
                                                    image_col.setAttribute('class', 'col img-preview');
                                                    var image_info = document.createElement('div');
                                                    var image = document.createElement('img');
                                                    image.setAttribute('src', event.target.result)
                                                    image.setAttribute('id', 'pasted-image')
                                                    image_info.setAttribute('id', 'pasted-image-info')
                                                    image_col.appendChild(image_info)
                                                    image_col.appendChild(image);
                                                    image_row.appendChild(image_col)
                                                    data_row.parentNode.insertBefore(image_col, data_row.nextSibling);
                                                    document.getElementById('pasted-image-info').textContent = 'Image details: ' + image.naturalHeight + 'x' + image.naturalWidth + ' Ratio: ' + image.naturalHeight / image.naturalWidth;
                                                };  // data url
                                                reader.readAsDataURL(blob);
                                            }
                                        }

                                    }
                                </script>
                                {{ form[item](class_=inputclass) }}
                            {% else %}
                                {{ form[item](class_=inputclass) }}
                            {% endif %}
                            {{ form[item].label }}

                        </fieldset>
                    </div>
                {%- endfor %}
            </div>
        {%- endfor %}
        <div class="form-group submit">
            {{ form.submit(class_="btn btn-primary btn-sm my-2 me-4") }}
            <a href="javascript: history.go(-1)" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
    </form>
{%- endmacro %}
